@font-face {
    font-family: 'Athletic';
    src: url("../fuentes/athletic/Athletic.woff2") format('woff2'),
        url("../fuentes/athletic/Athletic.woff") format('woff'),
        url("../fuentes/athletic/Athletic.TTF") format('truetype'),
        url("../fuentes/athletic/Athletic.svg") format('svg');
}

* {
    margin: 0;
    padding: 0;
}

#general{
    width: 100%;
}

header {
    background-color: red;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5% 10px 2%;
}

header nav img.logo {
    height: 120px;
    max-width: 170px;
}

header nav ul li {
    display: inline-block;
    padding: 0px 40px;
    list-style: none;
}

header nav ul li a {
    font-size: 19px;
    color: #000000;
    text-decoration: none;
    font-family: "Athletic";
}

header nav li a:hover {
    color: white;
    font-weight: bold;
    font-size: 21px;
}























footer {
    width: 100%;
    background-color: red;
}

footer #info-footer {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0px;
}

footer #info-footer #qr, #redes, #tiempo, #musica {
    margin-left: 10px;
    text-align: center;
}


footer #info-footer #redes img.codigoQR{
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

footer #info-footer #redes{
    text-align: center;
}

footer #info-footer #redes h2 {
    color: #000000;
    margin-bottom: 25px;
    font-size: 30px;
    font-family: "Athletic";
    letter-spacing: 4px;
}

footer #info-footer #redes img.iconos-redes {
    width: 230px;
    height: 60px;
}

footer #info-footer #tiempo {
    margin-top: 20px;
}

footer #info-footer #musica h2 {
    margin-bottom: 40px;
    font-family: "Athletic";
    letter-spacing: 4px;
}

footer #copy {
    background-color: #000000;
    padding: 8px;
    text-align: center;
    color: #fff;
}

footer #copy p {
    font-size: 20px;
}