@font-face {
    font-family: 'Athletic';
    src: url("../fuentes/athletic/Athletic.woff2") format('woff2'),
        url("../fuentes/athletic/Athletic.woff") format('woff'),
        url("../fuentes/athletic/Athletic.TTF") format('truetype'),
        url("../fuentes/athletic/Athletic.svg") format('svg');
}

* {
    margin: 0;
    padding: 0;
    
}

#general{
    width: 100%;
}

header {
    background-color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    height: 144px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
}

header nav #logo{
    display: flex;
    align-items: center;
}

header nav img.logo {
    height: 120px;
    max-width: 170px;
    margin-left: 10px;
}

header nav img.letrasLogo{
    margin-left: 20px;
    height: 40px;
    width: 350px;
}

#lista ul li {
    display: inline-block;
    padding: 0px clamp(0px, calc(7px + 0.5vw), 20px);
    list-style: none;
}

#lista ul li a {
    font-size: 19px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Athletic";
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section1{
    width: 42%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section1 p{
    margin: 0 15px 30px 40px;
    text-align: justify;
    font-size: 16pt;
}

section1 p.primero{
    margin-top: 40px;
}

section2{
    width: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

section2 img#sanmames {
    margin: 20px 0px;
    width: 90%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

footer {
    width: 100%;
    background-color: #000000;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.6);
}

footer #info-footer {
    width: 100%;
    margin: auto;
    padding: 45px 0px;
    text-align: center;
}

footer #info-footer #QRredes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

footer #info-footer #QRredes img.codigoQR{
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

footer #info-footer #QRredes #RRSS{
    display: flex;
    flex-direction: column;
}

footer #info-footer #QRredes #RRSS h2 {
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Athletic";
    letter-spacing: 4px;
}

footer #info-footer #QRredes img.iconos-redes {
    width: 185px;
    height: 50px;
}

footer #info-footer #tiempo{
    width: 100%;
}


#ww_026c2187a7920{
    display: none;
}

#ww_026c2187a7920 .ww_source svg{
    display: none;
}

footer #info-footer #musica{
    margin-left: 10px;
}

footer #info-footer #musica h2 {
    color: #FFFFFF;
    margin: 40px;
    font-family: "Athletic";
    letter-spacing: 4px;
}

footer #copy {
    background-color: #FFFFFF;
    padding: 8px;
    text-align: center;
    color: #000000;
}

footer #copy p {
    font-size: 20px;
    font-weight: 600;
    font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
}

@media (max-width: 599.5px) {
    header nav #logo{
        margin-left: 20px;
    }
    
    header nav img.letrasLogo{
        display: none;
    }
    
    #hamburguesa{
        display: block;
        margin-right: 30px;
    }
    
    nav{
        flex-wrap: wrap;
        position: relative;
    }
    
    #lista{
        position: absolute;
        top: 144px;
        background-color: #444444;
        width: 100%;
        left: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }
    
    #lista ul{
        position: absolute;
        display: flex;
        width: 100%;
        margin-top: 50px;
        flex-direction: column; 
        text-align: center;
        gap: 3rem;
    }
    
    #lista ul li{
        display: block;
    }
    
    #lista ul li a{
        font-size: 3em
    }
    
    #lista li a:hover {
        color: #EE2523;
        font-weight: bold;
        font-size: 4em;
    }
    
    #checkbox {
      display: none;
    }
    
    #checkbox:checked ~ #lista{
        height: calc(500px);
    }
    
    .toggle {
      position: relative;
      width: 60px;
      height: 40px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 13px;
      transition-duration: .5s;
    }

    .bars {
      width: 100%;
      height: 4px;
      background-color: white;
      border-radius: 4px;
    }

    #bar2 {
      transition-duration: .8s;
    }

    #bar1,#bar3 {
      width: 90%;
    }

    #checkbox:checked + .toggle .bars {
      position: absolute;
      transition-duration: .5s;
    }

    #checkbox:checked + .toggle #bar2 {
      transform: scaleX(0);
      transition-duration: .5s;
    }

    #checkbox:checked + .toggle #bar1 {
      width: 100%;
      transform: rotate(45deg);
      transition-duration: .5s;
    }

    #checkbox:checked + .toggle #bar3 {
      width: 100%;
      transform: rotate(-45deg);
      transition-duration: .5s;
    }

    #checkbox:checked + .toggle {
      transition-duration: .5s;
      transform: rotate(180deg);
    }     
    
    article{
        flex-direction: column
    }
    
    article section1{
        width: 100%;
    }
    
    article section1 p{
        margin-left: 15px;
        margin-right: 15px;
    }
    
    article section2{
        width: 100%;
        margin: 0;
    }
    
    footer #info-footer{
        text-align: center;
    }
    
    footer #QRredes{
        margin-bottom: 30px;
    }
    
    footer #info-footer #musica{
        margin: 0px;
    }
    #ww_026c2187a7920 .ww-box {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    #hamburguesa{
        display: block;
        margin-right: 20px;
    }
    
    nav{
        flex-wrap: wrap;
        position: relative;
    }
    
    #lista{
        position: absolute;
        top: 144px;
        background-color: #444444;
        width: 100%;
        left: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }
    
    #lista ul{
        position: absolute;
        display: flex;
        width: 100%;
        margin-top: 50px;
        flex-direction: column; 
        text-align: center;
        gap: 3rem;
    }
    
    #lista ul li{
        display: block;
    }
    
    #lista ul li a{
        font-size: 3em
    }
    
    #lista li a:hover {
        color: #EE2523;
        font-weight: bold;
        font-size: 4em;
    }
    
    #checkbox {
      display: none;
    }
    
    #checkbox:checked ~ #lista{
        height: calc(500px);
    }
    
    .toggle {
      position: relative;
      width: 60px;
      height: 40px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 13px;
      transition-duration: .5s;
    }

    .bars {
      width: 100%;
      height: 4px;
      background-color: white;
      border-radius: 4px;
    }

    #bar2 {
      transition-duration: .8s;
    }

    #bar1,#bar3 {
      width: 90%;
    }

    #checkbox:checked + .toggle .bars {
      position: absolute;
      transition-duration: .5s;
    }

    #checkbox:checked + .toggle #bar2 {
      transform: scaleX(0);
      transition-duration: .5s;
    }

    #checkbox:checked + .toggle #bar1 {
      width: 100%;
      transform: rotate(45deg);
      transition-duration: .5s;
    }

    #checkbox:checked + .toggle #bar3 {
      width: 100%;
      transform: rotate(-45deg);
      transition-duration: .5s;
    }

    #checkbox:checked + .toggle {
      transition-duration: .5s;
      transform: rotate(180deg);
    }     
    
    article{
        flex-direction: column
    }
    
    article section1{
        width: 100%;
    }
    
    article section1 p{
        margin-right: 40px;
    }
    
    article section2{
        width: 100%;
        margin: 0;
    }
    
    footer #info-footer{
        text-align: center;
    }
    
    footer #QRredes{
        margin-bottom: 30px;
    }
    
}

@media (min-width: 1024.5px) {
    #lista li a:hover {
        color: #EE2523;
        font-weight: bold;
        font-size: 21px;
    }

    #hamburguesa input, #hamburguesa label{
        display: none;
    }

    footer #info-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    #ww_026c2187a7920 .ww-box{
        width: clamp(360px, 35vw, 410px);
    }
}



