@font-face {
    font-family: 'Athletic';
    src: url("../fuentes/athletic/Athletic.woff2") format('woff2'),
        url("../fuentes/athletic/Athletic.woff") format('woff'),
        url("../fuentes/athletic/Athletic.TTF") format('truetype'),
        url("../fuentes/athletic/Athletic.svg") format('svg');
}

* {
    margin: 0;
    padding: 0;
}

#general{
    width: 100%;
}

header {
    background-color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5% 10px 2%;
}

header nav img.logo {
    height: 120px;
    max-width: 170px;
}

header nav ul li {
    display: inline-block;
    padding: 0px 40px;
    list-style: none;
}

header nav ul li a {
    font-size: 19px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Athletic";
}

header nav li a:hover {
    color: #EE2523;
    font-weight: bold;
    font-size: 21px;
}

article {
    width: 100%;
    display: flex;
}

section1{
    width: 42%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section1 p{
    margin: 0 15px 30px 40px;
    text-align: justify;
    font-size: 16pt;
}
section1 p.primero{
    margin-top: 40px;
}



section2{
    width: 58%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

section2 img#sanmames {
    height: 405px;
    width: 830px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}










footer {
    width: 100%;
    background-color: #000000;
}

footer #info-footer {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

footer #info-footer #qr, #QRredes, #RRSS, #tiempo, #musica {
    margin-left: 10px;
    text-align: center;
}

footer #info-footer #QRredes{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

footer #info-footer #QRredes img.codigoQR{
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

footer #info-footer #QRredes #RRSS{
    display: flex;
    flex-direction: column;
}

footer #info-footer #QRredes #RRSS h2 {
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Athletic";
    letter-spacing: 4px;
}

footer #info-footer #QRredes img.iconos-redes {
    width: 185px;
    height: 50px;
}

footer #info-footer #musica h2 {
    color: #FFFFFF;
    margin: 40px;
    font-family: "Athletic";
    letter-spacing: 4px;
}

footer #copy {
    background-color: #FFFFFF;
    padding: 8px;
    text-align: center;
    color: #000000;
}

footer #copy p {
    font-size: 20px;
    font-weight: 600;
}